* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "pieceBox pieceBox pieceBox"
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9";
    gap: 10px;
    padding: 0 200px;
    margin: 100px 200px 20px;
}

.box {
    background-color: cyan;
    height: 10vw;
}

.piece-box {
    grid-area: pieceBox;
    margin: 0 auto;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}

.marks {
    margin: 0 auto;
    text-align: center;
}

.selectMark {
    padding: 5px 20px;
    width: 100px;
}