* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F7D4;
}

h1 {
    text-align: center;
    padding: 30px;
    /* border: 1px solid red; */
    background-color: #34091C;
    color: #F0F7D4;
    text-transform: capitalize;
    /* font-family: 'Satisfy', cursive; */
    /* font-family: 'Kranky', cursive; */
    /* font-family: 'Londrina Shadow', cursive; */
    font-family: 'Monoton', cursive;
    /* font-family: 'Potta One', cursive; */
    font-size: 40px;
}

.form-container {
    background-color: #34091c93;
    border-radius: 15px;
    box-shadow:
        inset 1px 5px 8px 9px #f0f7d405,
        2px 4px 9px 1px #34091C,
        1em 0 1em -1em rgba(0, 0, 0, 0.931);
    text-align: center;
    padding: 30px 100px 150px;
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 300px;
    transition: .3ms;
}

input[type=text] {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    resize: vertical;
    outline: none;
    font-family: 'Kranky', cursive;
    font-weight: 600;
    font-size: large;
    color: #34091C;
}

input[type=text]:focus {
    background-color: #34091C;
    color: #F0F7D4;
}

button {
    background-color: #B2D732;
    border: none;
    color: #34091C;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 4px 2px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #B8145B;
    color: #F0F7D4;
}

button:active {
    background-color: #34091C;
    color: #B2D732;
}

label,
p {
    padding: 12px 12px 12px 0;
    color: #F0F7D4;
    text-transform: capitalize;
    font-family: 'Satisfy', cursive;
    font-size: x-large;
    font-weight: 800;
}

.marks {
    background-color: #34091C;
}

.gamestart {
    margin: 50px auto;
    padding: 50px;
    width: 250px;
    height: 150px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background-color: #34091C;
}

.gamestart button {
    border-radius: 5px;
    width: 150px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "pieceDiv pieceDiv pieceDiv"
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9"
        "winnerDiv winnerDiv winnerDiv";
    gap: 10px;
    padding: 0 200px;
    margin: 0 200px 20px;
}

.box {
    background-color: #C21460;
    color: #F0F7D4;
    height: 10vw;
    text-align: center;
    padding: 2px;
    font-family: 'Londrina Shadow', cursive;
    font-size: 6rem;
    font-weight: 600;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box:hover {
    text-transform: uppercase;
    background-color: #F0F7D4;
    color: #C21460;
    border: 2px solid #B8145B;
    transform: scale(1);
}

.piece-div {
    grid-area: pieceDiv;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px 10px;
    background-color: #34091C;
    color: #F0F7D4;
    font-family: 'Potta One', cursive;
    font-size: large;
}

.piece-div span {
    text-transform: uppercase;
    background-color: #F0F7D4;
    color: #34091C;
    font-size: large;
    font-weight: 600;
    border-radius: 7px;
    padding: 2px;
    text-shadow: 2px 5px 5px #34091C, 3px 1px 4px #F0F7D4;
}

.piece-div span:nth-child(odd) {
    text-transform: capitalize;
    font-size: larger;
}

.box1 {
    grid-area: box1;
}

.box2Greetings Mr Chuka,

Thank you for your response but I think you need to understand my plight. As it is now,
there is no access to confirm my successful transaction on the unizik portal. I have attached a screen to this email as reference to what I am experiencing. It is entirely generating a new RRR to start payment over. Kindly check it out and help me work on it so I can start the application form. Thanks again. Best regards. {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}

.winner-div {
    grid-area: winnerDiv;
    margin: 0 auto;
    text-transform: capitalize;
    background-color: #F0F7D4;
    color: #34091C;
    font-size: large;
    font-weight: 600;
    border-radius: 7px;
    padding: 2px;
    text-shadow: 2px 5px 5px #34091C,
        3px 1px 4px #F0F7D4;
}

.marks {
    margin: 0 auto;
    text-align: center;
}

.selectMark {
    padding: 5px 20px;
    width: 100px;
}

.new-game {
    display: none;
}

@media only screen and (max-width: 1080px) {
    .form-container {
        background-color: #34091c93;
        border-radius: 15px;
        box-shadow:
            inset 1px 5px 8px 9px #f0f7d405,
            2px 4px 9px 1px #34091C,
            1em 0 1em -1em rgba(0, 0, 0, 0.931);
        text-align: center;
        padding: 30px 100px 150px;
        transition: .3ms;
        position: static !important;
    }

    .gamestart {
        display: block;
        position: static !important;
        margin: 0 auto;
        padding: 40px;
        width: 200px;
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 25%;
        background-color: #F0F7D4;
    }

    .game-board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "pieceDiv pieceDiv pieceDiv""box1 box2 box3""box4 box5 box6""box7 box8 box9""winnerDiv winnerDiv winnerDiv";
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    .piece-div {
        grid-area: pieceDiv;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        background-color: #34091C;
        color: #F0F7D4;
        font-family: 'Potta One', cursive;
        font-size: large;
    }

    .box {
        background-color: #C21460;
        color: #F0F7D4;
        text-align: center;
        padding: 2px;
        font-family: 'Londrina Shadow', cursive;
        font-size: 6rem;
        font-weight: 600;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 25vh;
    }

    .winner-div {
        grid-area: winnerDiv;
        margin: 0 auto;
        text-transform: capitalize;
        background-color: #F0F7D4e5;
        color: #34091C;
        font-size: xx-large;
        font-weight: 800;
        border-radius: 7px;
        padding: 70px;
        text-shadow: 2px 5px 5px #34091C, 3px 1px 4px #F0F7D4, 5px 10px 6px #34091cf1;
        position: relative;
        top: -300px;
        z-index: 10;
        max-width: 100%;
        text-align: center;
    }
}