* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F7D4;
}

h1 {
    text-align: center;
    padding: 30px;
    border: 1px solid red;
    background-color: #34091C;
    color: #F0F7D4;
    text-transform: capitalize;
    /* font-family: 'Satisfy', cursive; */
    /* font-family: 'Kranky', cursive; */
    /* font-family: 'Londrina Shadow', cursive; */
    font-family: 'Monoton', cursive;
    /* font-family: 'Potta One', cursive; */
    font-size: 40px;
}

.form-container {
    /* margin: 20px auto; */
    background-color: #34091c93;
    border: 1px solid red;
    text-align: center;
    /* padding: 250px; */
}

input[type=text] {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    outline: none;
}

button {
    background-color: #B2D732;
    border: none;
    color: #34091C;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 4px 2px;
    font-weight: 600;
    cursor: pointer;
}


label,
p {
    padding: 12px 12px 12px 0;
    color: #F0F7D4;
    text-transform: capitalize;
    font-family: 'Satisfy', cursive;
    font-size: x-large;
    font-weight: 800;
    /* display: inline-block; */
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "pieceDiv pieceDiv pieceDiv"
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9"
        "winnerDiv winnerDiv winnerDiv";
    gap: 10px;
    padding: 0 200px;
    margin: 100px 200px 20px;
}

.box {
    background-color: cyan;
    height: 10vw;
    text-align: center;
    padding: 50px;
}

.piece-div {
    grid-area: pieceDiv;
    margin: 0 auto;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}

.winner-div {
    grid-area: winnerDiv;
    margin: 0 auto;
}

.marks {
    margin: 0 auto;
    text-align: center;
}

.selectMark {
    padding: 5px 20px;
    width: 100px;
}

.new-game {
    display: none;
}